<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.lumberg.greeeaaat">

	<!-- versionCode is optional and Android only -->
	
	<name>Todo</name>
	
	<description>
		Demo YDN-DB
	</description>
	
	<author href="https://build.phonegap.com" email="support@phonegap.com">
		CHris
	</author>

	<gap:platform name="android" />
	
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.0.8" />

</widget>