<widget xmlns       = "http://www.w3.org/ns/widgets"
    xmlns:gap       = "http://phonegap.com/ns/1.0"
    xmlns:android   = "http://schemas.android.com/apk/res/android"
    id              = "com.lumberg.greeeaaat">

	<!-- versionCode is optional and Android only -->
	
	<name>Todo</name>
	
	<description>
		Demo YDN-DB
	</description>
	
	<author href="https://build.phonegap.com" email="support@phonegap.com">
		CHris
	</author>

	<gap:platform name="android" />
	
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.0.8" />
	<!-- Plugins -->  
<gap:plugin name="org.apache.cordova.device" /> <!-- Device plugin -->  
<gap:plugin name="com.phonegap.plugin.statusbar" /> <!-- Status bar plugin -->  
<gap:plugin name="com.verso.cordova.clipboard" /> <!-- Clipboard plugin -->  
<gap:plugin name="com.chariotsolutions.cordova.plugin.keyboard_toolbar_remover" /> <!-- Keyboard toolbar removal plugin -->  
<gap:plugin name="org.apache.cordova.splashscreen" /> <!-- Splashscreen plugin -->  
<gap:plugin name="org.apache.cordova.vibration" /> <!-- Vibration plugin -->

</widget>